<div class="reception-wrapper">
	<img class="user-icon" src="/images/sample-user-image.jpg">
	<div class="comment reception">
		<p>コメントコメントコメントコメントコメントコメント</p>
	</div>
	<div class="reception-date">
		<div>12月20日</div>
		<div>19:38</div>
	</div>
</div>