<div class="transmission-wrapper">
	<div class="transmission-date">
		<div>12月20日</div>
		<div>19:38</div>
	</div>
	<div class="comment transmission">
		<p>コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント</p>
	</div>
	<img class="user-icon" src="/images/sample-user-image2.jpg">
</div>
