<!-- イベント投稿一覧表示のテンプレート -->
<div class="event-box box-shadow">
	<div id="newlabel">
		<div class="new-label"></div>
		<p class="transform-45deg">New!</p>
	</div>
	<div class="box-style-block">
		<img class="event-user-image" src="/images/sample-user-image.jpg" alt="">
		<div class="interest-count-box">
			<p>興味あり：</p>
			<img class="interested-user-icon" src="/images/sample-user-image2.jpg" alt="">
			<img class="interested-user-icon" src="/images/sample-user-image2.jpg" alt="">
			<img class="interested-user-icon" src="/images/sample-user-image2.jpg" alt="">
			<img class="interested-user-icon" src="/images/sample-user-image2.jpg" alt="">
		</div>
	</div>
	<div class="event-info">
		<table class="event-status">
			<tr>
				<td>エリア：</td>
				<td>群馬・長野・新潟</td>
			</tr>
			<tr>
				<td>日程：</td>
				<td>1018/12/23</td>
			</tr>
		</table>
		<p class="event-title"><a href="#" title="event-title">丸沼高原行きまーす！</a></p>
		<div class="event-description">
			今度の土日を使って丸沼高原に滑りに行きます！一人で滑っているのでよかったら一緒に滑りましょう^^!
		</div>
	</div>
</div>