<div class="image-wrapper">
  <img class="sign-in-background" src="/images/sample-image.jpg">
</div>

<div class="form-box">
  <div class="sign-up-title entrance-font"><span>S</span>now<span>f</span>ans</div>
  <%= link_to user_twitter_omniauth_authorize_path, class: "sns-button twitter box-shadow" do %>
    <p class="entrance-font"><i class="fab fa-twitter"></i>twitterでログイン</p>
  <% end %>
  <%= link_to user_facebook_omniauth_authorize_path, class: "sns-button facebook box-shadow" do %>
    <p class="entrance-font"><i class="fab fa-facebook-f"></i>facebookでログイン</p>
  <% end %>
</div>

<div class="bottom-area">
  <p class="whats entrance-font"><a href="#about">What's Snowfans?</a></p>
</div>

<div class="about-box">
  <i id="about" class="fas fa-snowboarding"></i>
  <h2 class="about">みんなで滑ろう！</h2>
  <div class="about-text">
    <p>Snowfansは、スキーやスノーボード行きたい！練習したい！けど一緒に行く人がいない！
    一人で滑るのは寂しいから、誰かと一緒に滑りたい！
    セッションしてみたい！そんな気持ちに答えるアプリです！
    </p>
  </div>
</div>

<div class="app-introduction">
  <div class="app-intro">
    <div class="app-intro-img1">image</div>
    <div class="app-intro-text"><p>テキストテキストテキストテキストテキストテキスト</p></div>
  </div>
  <div class="app-intro">
    <div class="app-intro-img1">image</div>
    <div class="app-intro-text"><p>テキストテキストテキストテキストテキストテキスト</p></div>
  </div>
  <div class="app-intro">
    <div class="app-intro-img1">image</div>
    <div class="app-intro-text"><p>テキストテキストテキストテキストテキストテキスト</p></div>
  </div>
</div>



